.formContainer {
    width: 100%;
    max-width: 560px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e457c;
    margin: 0;
}

.label {
    font-size: 1rem;
    font-weight: 500;
    color: #374151;
}

.input {
    width: 100%;
    height: 48px;                
    background-color: #ffffff;   
    border:  0.15rem solid transparent;
    border-bottom: 0.15rem solid #0b84b4 ;    
    padding: 0;                  
    text-align: center;
    font-size: 1.6rem;
    color: #111111;
    outline: none;
    transition: border 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.input:focus {
    border-color: #2563eb;
    border: 0.15rem solid #0b84b4;
    border-radius: 0.8rem;
}

.input::placeholder {
    color: #9ca3af;
    opacity: 0.8;
    font-size: 1.4rem;
    font-style: italic;
}

.submitButton {
    width: 100%;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #2563eb;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.submitButton:hover {
    background-color: #1e48c7;
}



@media (max-width: 480px) {
    .input {
        font-size: 1.4rem;
        padding: 0.5rem;
    }
}
